.form {
	&--container {
		// background-color: red;
		grid-column: 2 / span 1;
		width: 80%;
		min-width: 40rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__layout {
		& > *:not(:last-child) {
			margin-bottom: 2rem;
		}
		& > *:last-child {
			margin-top: 2rem;
		}
		&__item {
			display: flex;
			flex-direction: column;
			& .error {
				color: red;
			}
			&--labels {
				color: $Very-dark-violet;
				text-transform: uppercase;
				font-size: 1.125rem;
				margin-bottom: 0.5rem;
				letter-spacing: 1.25px;
			}
		}
	}
	&__date-cvv--container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}
	&__field {
		width: 100%;
		padding: 1rem 2rem;
		border-radius: 10px;
		outline: none;
		border: 1px solid $Light-grayish-violet;
		color: $Very-dark-violet;
		font-size: 2rem;
		font-family: $font-family;
		&::placeholder {
			color: $Light-grayish-violet;
			font-family: $font-family;
		}
	}
	&__date__field {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}
	&__btn {
		width: 100%;
		border-radius: 10px;
		background-color: $Very-dark-violet;
		color: $Light-grayish-violet;
		text-align: center;
		padding: 1rem 2rem;
		font-size: 1.5rem;
		font-family: $font-family;
		// letter-spacing: 1.5px;
	}
}
@import "../errorMessage/errorMessage";
