@font-face {
	font-family: Space-Grotesk-medium;
	src: url("./assets/Fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf");
}
@font-face {
	font-family: Space-Grotesk-regular;
	src: url("./assets/Fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf");
}
$font-family: Space-Grotesk-medium;
$font-family-secondary: Space-Grotesk-regular;

// Colors
$Red: hsl(0, 100%, 66%); // (input errors)

$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

// Gradients
$Linear-gradient-1: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); //(active input border)

$Font-size: 18px;
